@using Data
@model IEnumerable<Candidate>
@{
    ViewData["Title"] = "ViewDeclined";
}

<h2>ViewDeclined</h2>

<table class="table table-bordered table-striped">
    <tr>
        <th>Name</th>
        <th>Number</th>
        <th>Email</th>
        <th>Notes</th>
    </tr>
    @foreach (Candidate c in Model)
    {
        <tr>
            <td>@c.Name</td>
            <td>@c.Number</td>
            <td>@c.Email</td>
            <td>@c.Notes</td>
        </tr>
    }
</table>